.nav-inferior{
    position: sticky;
    top: 10px;
    width: 100%;
    background-color: var(--color-1);
}

.nav-inferior__ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: .6em 1.5em;
    gap: .7em;
}

.nav-inferior__linea{
    flex: 1 1;
    background-color: var(--color-3);
    height: .1em;
}

/* avatar ---------------------- */

.nav-inferior-imagen{
    width: 3.125em;
    border: .1em solid var(--color-3);
    border-radius: 50%;
    background-color: var(--color-3);
}

/* opciones -------------------- */

.nav-inferior__li{
    color: var(--color-3);
    transition: color 350ms;
    cursor: pointer;
}

.nav-inferior__li:hover{
    color: var(--color-2);
}