/* barra superior / barra configuraciones ________________________________ */

.nav-superior{
    background-color: var(--color-1);
    color: var(--color-4);
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 10px solid var(--color-2);
    transition: height 1s, color 1s, background-color 1s;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    padding-left: 20px;
    position: absolute;
    z-index: 10;
}

/* barra de scroll _______________________________________ */

.nav-superior::-webkit-scrollbar {
    -webkit-appearance: none;
}

.nav-superior::-webkit-scrollbar:vertical {
    width:20px;
}

.nav-superior::-webkit-scrollbar-button:increment,.nav-superior::-webkit-scrollbar-button {
    display: none;
} 

.nav-superior::-webkit-scrollbar-thumb {
    background-color: var(--color-3);
    border-radius: 20px;
    border: 3px solid var(--color-2);
}

.nav-superior::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.nav-superior__titulo{
    color: var(--color-1);
    background-color: var(--color-3);
    max-width: 62.5em;
    width: calc(90% - 40px);
    margin: auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 2em 1% 1em;
    font-weight: bold;
    position: relative;
    font-size: 1.5em;
}

/* avatar -------------------------- */

.nav-superior__contenedor{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-superior__avatar-contenedor{
    max-width: 21em;
    width: 100%;
    min-width: 12.5em;
    text-align: left;
    text-align: center;
    background-color: var(--color-2);
    position: relative;
    margin-top: 7.5em;
    padding: clamp(3.1em, 15vw, 6.25em) 20px 20px;
    border-radius: 10px;
}

.nav-superior__avatar-imagen{
    width: clamp(9.5em, 35vw, 12.5em);
    background: var(--color-3);
    border-radius: 50%;
    border: 3px solid var(--color-3);
    position: absolute;
    top: -7.5em;
    left: 50%;
    transform: translate(-50%);
}

.nav-superior__avatar-nombre{
    margin: 0 auto;
    border-radius: 5px;
    color: var(--color-1);
    padding: 10px 0;
    font-size: 1.8em;
    width: 90%;
}

.avatar-nombre__span{
    color: var(--color-3);
    border-bottom: var(--color-3) solid 0px;
    outline: none;
    opacity: .7;
    word-break: break-all;
    border-radius: 5px;
}

/* nombre de avatar / confirmar cambio nav-superior.js */

.nav-superior .fa-check-circle{
    position: absolute;
    right: .3em;
    bottom: .3em;
    color: var(--color-1);
    font-size: 2.5em;
    display: none;
    transition: color 350ms;
}

/* javascript ----------- */

.nav-superior .boton-confirmar-editar{
    cursor: pointer;
    color: var(--color-3);
    display: block;
}

.nav-superior .boton-confirmar-editar:hover{
    transform: scale(1.2);
    opacity: 1;
}


/* sub menu opciones ---------------------- */

.nav-superior__opciones{
    width: clamp(23.5em, 50%, 40em);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 1.3em;
    background-color: var(--color-2);
    margin: 4.45em 0 0;
    position: relative;
}

.opciones__titulo{
    position: absolute;
    top: -3.2em;
    left: 50%;
    background-color: var(--color-2);
    color: var(--color-3);    
    padding: 1em 3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translate(-50%);
    margin: 0;
}

/* sub menu usuario ---------------------- */

/* sub menu imagen de fondo -------------- */

.li__imagen-de-fondo{
    position: relative;
    align-items: center;
    flex-direction: column;
}

.nav-superior__imagen-de-fondo{
    height: 3.5em;
    width: 6em;
    border-radius: 10px;
    overflow: hidden;
}

.li__imagen-de-fondo .imagenes-de-fondo__flecha-der, .imagenes-de-fondo__flecha-izq{
    position: absolute;
    right: 5px;
    display: inline-block;
    font-size: 3em;
    padding: 5px;
    text-align: right;
    width: .9em; 
    bottom: 5px;
}

.imagenes-de-fondo__flecha-der:hover, .imagenes-de-fondo__flecha-izq:hover{
    opacity: 1;
    cursor: pointer;
}

.li__imagen-de-fondo .imagenes-de-fondo__flecha-der{
    top: 5px;
    height: .9em;
}

#IDF2{
    height: 4.3em;
    width: 6.8em;
    opacity: 1;
}

/* sub menu fuetes --------------------- */

.fuente__fuentes{
    border: none;
    color: var(--color-1);
    background-color: var(--color-4);
    font-weight: bold;
    color: var(--color-3);
    background-color: var(--color-2);
    border-radius: 5px;
    padding: .6em;
    font-size: 1.3em;
}

/* sub menu temas ------------------------ */

.nav-superior__li{
    color: var(--color-3);
}

.temas__boton{
    padding: 1.8em;
    border-radius: 5px;
}

/* cerrar menu superior ______________________________________*/

.cerrar-menu-cof{
    position: absolute;
    right: 10px;
    padding: 10px;
    font-size: 2em;
    top: 0;
    cursor: pointer;
    animation: cerrarCof 3s infinite;
    color: var(--color-2);
    transition: color 350ms, transform 350ms;
}

.cerrar-menu-cof:hover{
    opacity: 1;
    animation: none;
    color: rgb(214, 55, 55);
    transform: scale(1.1);
}

@keyframes cerrarCof {
    0%{
        color: var(--color-2);
        opacity: .5;
    }
    50%{
        color: rgb(214, 55, 55);
        opacity: 1;
    }
    100%{
        color: var(--color-2);
        opacity: .5;
    }
}

/* General ---------------------------- */

.opciones__li, .nav-superior__div{
    display: flex;
    justify-content: center;
    gap: 1em;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 1em;
    background-color: var(--color-1);
    border-radius: 5px;
    color: var(--color-3);
    flex-wrap: wrap;
    transition: height 3s;
    
}

.cerrar-menu-cof, .imagenes-de-fondo__flecha-der, .imagenes-de-fondo__flecha-izq, .nav-superior__imagen-de-fondo, .boton-confirmar-editar, .fuente__fuentes, .temas__boton, .fas-configuracion, .fas-configuracion-user{
    opacity: .2;
    transition: opacity 350ms, transform 350ms;
}

.nav-superior__imagen-de-fondo:hover, .fas-configuracion-user:hover, .fas-configuracion:hover, .temas__boton:hover, .fuente__fuentes:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
    outline-color: var(--color-3);
    outline: inset;
    outline-style: solid;
}

.opciones__titulo, .nav-superior__avatar-contenedor, .nav-superior__div, .opciones__li, .nav-superior__opciones{
    border-top: .2em solid var(--color-3);
}

.fas-configuracion, .fas-configuracion-user{
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-2);
    min-width: 2em;
}

/* JavaScript general ------------------------- */

.cerrados{
    height: 0em;
    padding: 0;
}

@media screen and (min-width: 900px) {
   
    /* sub menu imagen de fondo -------------- */

    .li__imagen-de-fondo{
        flex-direction: row;
    }

    .li__imagen-de-fondo .imagenes-de-fondo__flecha-der, .imagenes-de-fondo__flecha-izq{
        top: 50%;
        transform: translateY(-50%) rotate(0.75turn);
        font-size: 2.5em;
    }

    .li__imagen-de-fondo .imagenes-de-fondo__flecha-der{
        left: 5px;
        transform: translateY(-50%) rotate(0.75turn);
        padding: 0px 5px 10px 5px;
    }
}

@media screen and (max-height: 27em) {
    .nav-superior {
      height: calc(600px + 5.2em + 20px);
    }

    .cerrados{
        height: 0em;
        padding: 0;
    }
}  