/* barra superior / barra configuraciones ________________________________ */

.nav-superior{
    background-color: var(--color-1);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    color: var(--color-4);
    border-bottom: 10px solid var(--color-2);
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.nav-superior__titulo{
    color: var(--color-1);
    background-color: var(--color-3);
    width: clamp(21.8em, 80vw, 62.5em);
    margin: auto;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    font-weight: bold;
}

.opciones__li{
    flex-wrap: nowrap;
}

/* avatar -------------------------- */

.nav-superior__contenedor{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.nav-superior__avatar-contenedor{
    max-width: 18.75em;
    width: 40vw;
    min-width: 12.5em;
    text-align: left;
    text-align: center;
    background-color: var(--color-2);
    position: relative;
    margin-top: 9.5em;
    padding: clamp(3.1em, 15vw, 6.25em) 20px 20px;
    border-radius: 10px;
}

.nav-superior__avatar-imagen{
    width: clamp(9.5em, 35vw, 12.5em);
    background: var(--color-3);
    border-radius: 50%;
    border: 3px solid var(--color-3);
    position: absolute;
    top: -7.5em;
    left: 50%;
    transform: translate(-50%);
}

.nav-superior__avatar-nombre{
    margin: 0;
    border-radius: 5px;
    user-select: none;
    color: var(--color-1);
    padding: 5px;
    font-size: 1.2em;
}

.avatar-nombre__span{
    color: var(--color-3);
    border-bottom: var(--color-3) solid 0px;
    outline: none;
    opacity: .7;
    max-width: 50%;
    word-break: break-all;
    overflow: hidden;
}

/* sub menu opciones ---------------------- */

.nav-superior__opciones{
    width: clamp(23.5em, 50%, 37.5em);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 1.3em;
    background-color: var(--color-2);
    margin: 60px 0 0;
    align-self: flex-end;
    position: relative;
}

.opciones__li{
    background-color: var(--color-1);
    border-radius: 5px;
    color: var(--color-3);
    padding: 0 5px;
}

.opciones__titulo{
    position: absolute;
    top: -3.7em;
    left: 50%;
    background-color: var(--color-2);
    color: var(--color-3);    
    padding: 1em 3em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translate(-50%);
}

.logo-cog{
    animation: configuracionGirar 20s infinite;
}

/* sub menu usuario ---------------------- */


/* sub menu imagen de fondo -------------- */

.li__imagen-de-fondo{
    position: relative;
    align-items: center;
}

.nav-superior__imagen-de-fondo{
    height: 3.5em;
    width: 6em;
    padding: 0 5px;
    border-radius: 10px;
    overflow: hidden;
}

.imagenes-de-fondo__flecha-der, .imagenes-de-fondo__flecha-izq{
    position: absolute;
    right: 5px;
    top: 1.8em;
    transform: translateY(-50%);
    font-size: 1.5em;
    display: inline-block;
    font-size: 1.5em;
    padding: 5px;
    width: 1em;
    text-align: right;
}

.imagenes-de-fondo__flecha-der:hover, .imagenes-de-fondo__flecha-izq:hover{
    opacity: 1;
    cursor: pointer;
}

.imagenes-de-fondo__flecha-der{
    left: 5px;
    transform: translateY(-50%);
    text-align: left;
}

#IDF2{
    height: 4.3em;
    width: 6.8em;
    opacity: 1;
}

/* sub menu temas ------------------------ */

.nav-superior__li{
    color: var(--color-3);
}

.temas__boton{
    padding: 1.8em;
    border: none;
}

/* .temas__rojo{
    background-color: var(--color-rojo);
}

.temas__verde{
    background-color: var(--color-verde);
}

.temas__violeta{
    background-color: var(--color-violeta);
}

.temas__amarillo{
    background-color: var(--color-3);
}

.temas__celeste{
    background-color: var(--color-celeste);
} */

/* sub menu fuetes --------------------- */

.fuente__fuentes{
    border: none;
    color: var(--color-1);
    background-color: var(--color-4);
    font-weight: bold;
    color: var(--color-3);
    background-color: var(--color-2);
    border-radius: 5px;
    padding: .6em;
    font-size: 1.3em;
}

/* General ---------------------------- */

.opciones__li, .nav-superior__div{
    display: flex;
    justify-content: center;
    gap: 1em;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 1em;
}

.imagenes-de-fondo__flecha-der, .imagenes-de-fondo__flecha-izq, .nav-superior__imagen-de-fondo, .fa-check-circle, .fuente__fuentes, .temas__boton, .fas-configuracion, .fas-configuracion-user{
    opacity: .2;
    transition: opacity 350ms, transform 350ms;
}

.nav-superior__imagen-de-fondo:hover, .fa-check-circle:hover, .cerrar-menu-sup:hover, .fas-configuracion-user:hover, .fas-configuracion:hover, .temas__boton:hover, .fuente__fuentes:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
}
/* 
.nav-superior__imagen-de-fondo, .fas-configuracion, .temas__boton, .fuente__fuentes, .fas-configuracion-user{
    margin: .6em 0;
} */

.nav-superior__boton-cerrar, .opciones__titulo, .nav-superior__avatar-contenedor, .nav-superior__div, .opciones__li, .nav-superior__opciones{
    border-top: .2em solid var(--color-3);
}

.nav-superior__div{
    background-color: var(--color-1);
    border-radius: 5px;
}

.fas-configuracion, .fas-configuracion-user{
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-2);
    min-width: 2em;
}

/* abrir / cerrar */

.nav-superior__div, .nav-superior{
    overflow: hidden;
    transition: height 2s;
}

/* Animaciones ------------------------ */

@keyframes configuracionGirar {
    0%{
        transform: rotate(0deg);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
    }
}

/* botone cerrar menu ---------------- */

.nav-superior__boton-cerrar{
    background-color: var(--color-2);
    color: var(--color-3);
    position: absolute;
    bottom: -48px;
    left: 50%;
    transform: translate(-50%);
    padding: .6em .9em;
    font-size: 1.5em;
    border-radius: 10px;
    bottom: -10px;
    font-size: 2em;
    border-left: 1px solid var(--color-3);
    border-right: 1px solid var(--color-3);

}


@keyframes cerrarNavSup {
    0%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}

/* JavaScript general ------------------------- */

/* .active-configuraciones{
    opacity: 1;
    color: var(--color-3);
} */

.cerrados{
    height: 0;
    padding: 0;
}

/* nombre de avatar / confirmar cambio nav-superior.js */

.fa-check-circle{
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: var(--color-3);
    font-size: 1.5em;
    display: none;
}