:root{
    --color-1: #222831;
    --color-2: #393E46;
    --color-3: #FFD369;
    --color-4: #EEEEEE;
}

body{
    overflow: hidden;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

/* pagina de inicio ____________________________*/
.header{
    min-height: 50vh;
}