body{
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    transition: background-image 500ms;
    overflow: hidden;
    height: 100vh;
}

/* pagina de inicio ____________________________*/

.header{
    min-height: 80%;
    clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    background-color: var(--color-2);
    position: absolute;
    top: 120px;
    width: clamp(320px, 30vw, 420px);
    left: 100px;
    border: 5px solid var(--color-3);
    border-bottom: transparent;
    text-align: center;
}

.titulo{
    color: var(--color-3);
    font-size: 1.4em;
    margin: 100px 0;
}

/* main ________________________________________ */

.main{ 
    min-height: 100vh;
}