.tema-predeterminado{
    --color-1: #343434;
    --color-2: #8E8B82;
    --color-3: #E9DCBE;
    --color-4: #F3F3F3;
}

.tema-noche{
    --color-1: #222831;
    --color-2: #393E46;
    --color-3: #FFD369;
    --color-4: #EEEEEE;
}

.tema-lectura{
    --color-1: #d1be6f;
    --color-2: #1a1818;
    --color-3: rgb(189, 135, 18);
    --color-4: #8b0f73;
}

.tema-0{
    --color-1: #1F1D36;
    --color-2: #3F3351;
    --color-3: #864879;
    --color-4: #E9A6A6;
}

.tema-1{
    --color-1: #222831;
    --color-2: #393E46;
    --color-3: #00ADB5;
    --color-4: #EEEEEE;
}

.tema-2{
    --color-1: #F9ED69;
    --color-2: #F08A5D;
    --color-3: #B83B5E;
    --color-4: #6A2C70;
}

.tema-3{
    --color-1: #08D9D6;
    --color-2: #252A34;
    --color-3: #FF2E63;
    --color-4: #EAEAEA;
}

.tema-4{
    --color-1: #F8EDE3;
    --color-2: #BDD2B6;
    --color-3: #A2B29F;
    --color-4: #798777;
}

.tema-5{
    --color-1: #000000;
    --color-2: #3D0000;
    --color-3: #950101;
    --color-4: #FF0000;
}

.tema-6{
    --color-1: #F9F7F7;
    --color-2: #DBE2EF;
    --color-3: #3F72AF;
    --color-4: #112D4E;
}

.tema-7{
    --color-1: #2B2E4A;
    --color-2: #E84545;
    --color-3: #903749;
    --color-4: #53354A;
}

.tema-8{
    --color-1: #E23E57;
    --color-2: #88304E;
    --color-3: #522546;
    --color-4: #311D3F;
}

.tema-9{
    --color-1: #E4F9F5;
    --color-2: #30E3CA;
    --color-3: #11999E;
    --color-4: #40514E;
}

.tema-10{
    --color-1: #F4EEFF;
    --color-2: #DCD6F7;
    --color-3: #A6B1E1;
    --color-4: #424874;
}

.tema-11{
    --color-1: #212121;
    --color-2: #323232;
    --color-3: #0D7377;
    --color-4: #14FFEC;
}

.tema-12{
    --color-1: #FFC8C8;
    --color-2: #FF9999;
    --color-3: #444F5A;
    --color-4: #3E4149;
}

.tema-13{
    --color-1: #F0F5F9;
    --color-2: #C9D6DF;
    --color-3: #52616B;
    --color-4: #1E2022;
}

.tema-14{
    --color-1: #2D4059;
    --color-2: #EA5455;
    --color-3: #F07B3F;
    --color-4: #FFD460;
}

.tema-15{
    --color-1: #3EC1D3;
    --color-2: #F6F7D7;
    --color-3: #FF9A00;
    --color-4: #FF165D;
}

.tema-16{
    --color-1: #FFD5CD;
    --color-2: #EFBBCF;
    --color-3: #C3AED6;
    --color-4: #8675A9;
}

.tema-17{
    --color-1: #6FE7DD;
    --color-2: #3490DE;
    --color-3: #6639A6;
    --color-4: #521262;
}

.tema-18{
    --color-1: #155263;
    --color-2: #FF6F3C;
    --color-3: #FF9A3C;
    --color-4: #FFC93C;
}

.tema-19{
    --color-1: #142850;
    --color-2: #27496D;
    --color-3: #0C7B93;
    --color-4: #00A8CC;
}

.tema-20{
    --color-1: #303841;
    --color-2: #3A4750;
    --color-3: #D72323;
    --color-4: #EEEEEE;
}

.tema-21{
    --color-1: #384259;
    --color-2: #F73859;
    --color-3: #7AC7C4;
    --color-4: #C4EDDE;
}

.tema-22{
    --color-1: #2A363B;
    --color-2: #E84A5F;
    --color-3: #FF847C;
    --color-4: #FECEA8;
}

.tema-23{
    --color-1: #FAF3E0;
    --color-2: #EABF9F;
    --color-3: #B68973;
    --color-4: #1E212D;
}

.tema-24{
    --color-1: #232931;
    --color-2: #393E46;
    --color-3: #4ECCA3;
    --color-4: #EEEEEE;
}

/* sub-temas __________________________________________________ */

.tema-0{
    background: linear-gradient(#1F1D36 20%, #3F3351 40%, #864879 60%, #E9A6A6 80%);
}

.tema-1{
    background: linear-gradient(#222831 20%, #393E46 40%, #00ADB5 60%, #EEEEEE 80%);
}

.tema-2{
    background: linear-gradient(#F9ED69 20%, #F08A5D 40%, #B83B5E 60%, #6A2C70 80%);
}

.tema-3{
    background: linear-gradient(#08D9D6 20%, #252A34 40%, #FF2E63 60%, #EAEAEA 80%);
}

.tema-4{
    background: linear-gradient(#F8EDE3 20%, #BDD2B6 40%, #A2B29F 60%, #798777 80%);
}

.tema-5{
    background: linear-gradient(#000000 20%, #3D0000 40%, #950101 60%, #FF0000 80%);
}

.tema-6{
    background: linear-gradient(#F9F7F7 20%, #DBE2EF 40%, #3F72AF 60%, #112D4E 80%);
}

.tema-7{
    background: linear-gradient(#2B2E4A 20%, #E84545 40%, #903749 60%, #53354A 80%);
}

.tema-8{
    background: linear-gradient(#E23E57 20%, #88304E 40%, #522546 60%, #311D3F 80%);
}

.tema-9{
    background: linear-gradient(#E4F9F5 20%, #30E3CA 40%, #11999E 60%, #40514E 80%);
}

.tema-10{
    background: linear-gradient(#F4EEFF 20%, #DCD6F7 40%, #A6B1E1 60%, #424874 80%);
}

.tema-11{
    background: linear-gradient(#212121 20%, #323232 40%, #0D7377 60%, #14FFEC 80%);
}

.tema-12{
    background: linear-gradient(#FFC8C8 20%, #FF9999 40%, #444F5A 60%, #3E4149 80%);
}

.tema-13{
    background: linear-gradient(#F0F5F9 20%, #C9D6DF 40%, #52616B 60%, #1E2022 80%);
}

.tema-14{
    background: linear-gradient(#2D4059 20%, #EA5455 40%, #F07B3F 60%, #FFD460 80%);
}

.tema-15{
    background: linear-gradient(#3EC1D3 20%, #F6F7D7 40%, #FF9A00 60%, #FF165D 80%);
}

.tema-16{
    background: linear-gradient(#FFD5CD 20%, #EFBBCF 40%, #C3AED6 60%, #8675A9 80%);
}

.tema-17{
    background: linear-gradient(#6FE7DD 20%, #3490DE 40%, #6639A6 60%, #521262 80%);
}

.tema-18{
    background: linear-gradient(#155263 20%, #FF6F3C 40%, #FF9A3C 60%, #FFC93C 80%);
}

.tema-19{
    background: linear-gradient(#142850 20%, #27496D 40%, #0C7B93 60%, #00A8CC 80%);
}

.tema-20{
    background: linear-gradient(#303841 20%, #3A4750 40%, #D72323 60%, #EEEEEE 80%);
}

.tema-21{
    background: linear-gradient(#384259 20%, #F73859 40%, #7AC7C4 60%, #C4EDDE 80%);
}

.tema-22{
    background: linear-gradient(#2A363B 20%, #E84A5F 40%, #FF847C 60%, #FECEA8 80%);
}

.tema-23{
    background: linear-gradient(#FAF3E0 20%, #EABF9F 40%, #B68973 60%, #1E212D 80%);
}

.tema-24{
    background: linear-gradient(#232931 20%, #393E46 40%, #4ECCA3 60%, #EEEEEE 80%);
}